
/* Show it is fixed to the top */

body {
  padding-top: 56px;
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}

.sticky-offset {
  top: 56px;
}

mark {
  padding: 0.1em 0.2em;
  border-radius: 5px;
  box-shadow: 0.2px 0.2px rgb(119, 119, 119);
  cursor: pointer;
}

mark:hover {
  box-shadow: 0.5px 0.5px rgb(119, 119, 119);
}

#result {
  font-family: 'Quicksand', sans-serif;
  height: 30em;
  overflow: hidden;
}

#sidebar-container {
  min-height: 100vh;
  padding: 0;
}

#sidebar-container li {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
}

.fadeout {
  position: absolute;
  height: 5em;
  bottom: 0em;
  background: linear-gradient(rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 1.0) 90%);
}

hr.solid {
  border-top: 3px solid rgba(61, 58, 58, 1.0);
}

.ui-slider-range.ui-widget-header {
  background: lightsteelblue;
}

svg {
  display: block;
  margin: auto
}