

body {
  padding-top: 56px;
 /* font-family: 'Quicksand', sans-serif; */
}

.sticky-offset {
  top: 56px;
}

.message-template {
  max-width: 600px;
}

ul {
  list-style-type: none;
}

mark {
  padding: 0.1em 0.2em;
  border-radius: 5px;
  box-shadow: 0.2px 0.2px rgb(119, 119, 119);
}

mark:hover {
  box-shadow: 0.5px 0.5px rgb(119, 119, 119);
}


#result {
  height: 30em;
  overflow: hidden;
}

#sidebar ul {
  width: 300px;
}

#sidebar li {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
}

.fadeout {
  position: absolute;
  height: 5em;
  bottom: 0em;
  background: linear-gradient(rgba(248, 249, 250, 0) 0%, rgba(248, 249, 250, 1.0) 90%);
}

hr.solid {
  border-top: 3px solid rgba(61, 58, 58, 1.0);
}

svg {
  display: block;
  margin: auto
}

svg text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}