{% extends 'base.html' %}
{% block title %}Message{% endblock %}
{% block head %} 
    {{ super() }} 
{% endblock %}

{% block content %}
<div class="message-template p-3">
    <div class="message-subject">{{ response["subject"]|safe }}</div>
    <div class="message-body">{{ response["body"]|safe }}</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='color_marks.js') }}"></script>
<script type="text/javascript">
    $(document).ready(colorMarks());
</script>
{% endblock %}