{% macro message_template(message) -%}
    <div class="message-template p-3">
        <div class="message-header d-flex">
            <div class="container-fluid p-0 m-0">
                <span class="badge rounded-pill bg-primary">{{ message["label"] }}</span>
                <span class="badge rounded-pill bg-primary">{{ message["prob_spam"] }}% Probability Spam</span>
            </div>
        </div>
        <div class="row-flex message-subject"><a href="/item/{{ message['id'] }}">{{ message["subject"]|safe }}</a></div>
        <div class="row-flex message-body">{{ message["body"]|safe }}</div>
    </div>
{%- endmacro %}