{% macro message_template(message) -%}
    <div class="message-template bg-light p-3 my-3 mx-auto">
        <div class="message-header d-flex">
            <div class="container-fluid p-0 m-0 font-weight-bold">
                <span class="label-badge badge rounded-pill">{{ message["label"] }}</span>
                <span class="badge rounded-pill">{{ message["prob_spam"] }}% Probability Spam</span>
            </div>
        </div>
        <div class="row-flex message-subject"><a href="/item/{{ message['id'] }}">{{ message["subject"]|safe }}</a></div>
        <div class="row-flex message-body">{{ message["body"]|safe }}</div>
    </div>
{%- endmacro %}