{% extends "base.html" %}
{% block title %}Spam classifier{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center sticky-offset m-0" id="body">
    <div id="sidebar">
        <form action="/search" method="GET">
            <ul class="list-group m-2 p-2">
                <img src="{{ url_for('static', filename='favicon.svg') }}">
                <li>
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search">
                </li>
                <li>
                    <input class="btn btn-primary rounded" type="submit" id="search-btn" name="search-btn"
                        value="Search">
                    <input class="btn btn-secondary rounded" type="submit" id="random-btn" name="random-btn"
                        value="Random Emails">
                </li>
                <li class="mt-3">
                    <p class="mb-1">Type of Emails</p>
                    <input type="checkbox" id="spam" name="spam" checked>
                    <label for="spam">Spam</label>
                    <input type="checkbox" id="normal" name="normal" checked>
                    <label for="normal">Normal</label>
                </li>

            </ul>
        </form>
    </div>
</div>

<script>
    $(".submit-button").submit(function () {

    })
</script>
{% endblock %}