{% extends "base.html" %}
{% block title %}Spam classifier{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center sticky-offset m-0" id="body">
    <div id="sidebar">
        <form action="/get_email" method="GET">
            <ul class="list-group m-2 p-2">
                <img src="{{ url_for('static', filename='favicon.svg') }}">                
                <li>
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search">
                </li>
                <li>
                    <button class="btn btn-secondary rounded" type="submit">Random Emails</button>
                    <button class="btn btn-primary rounded" id="search-btn" type="submit">Search</button>
                </li>
                <li>
                    <text>Type of Emails</text><br>
                    <input type="checkbox" id="spam" name="spam" checked>
                    <label for="spam">Spam</label>
                    <input type="checkbox" id="normal" name="normal" checked>
                    <label for="normal">Normal</label>
                </li>

            </ul>
        </form>
    </div>

</div>
{% endblock %}