{% extends "base.html" %}
{% block title %}Spam classifier{% endblock %}
{% block head %}
    {{ super() }}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>
    <script type=text/javascript>
        $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 100,
                values: [0, 100],
            });
        });
        
    </script>

    <script type=text/javascript>
        $(function() {
            $(":button#get_email").bind("click", function() {
                jQuery.post($SCRIPT_ROOT + "/get_email", {
                    sliderMin: $("#slider-range").slider("values", 0),
                    sliderMax: $("#slider-range").slider("values", 1),
                    hasNormal: $("input[name='hasNormal']").val(),
                    hasSpam: $("input[name='hasSpam']").val()
                }, 
                function(data) {
                    var truncated_body = data.body.split("<br>")
                    if (truncated_body.length > 20) {
                        truncated_body = truncated_body.slice(0, 20).join("<br>")
                        $("#body").html(truncated_body);
                        $(".fadeout").css("visibility", "visible");
                    } else {
                        $(".fadeout").css("visibility", "hidden");
                        $("#body").html(data.body);
                    }
                    
                    $("#subject").html(data.subject);
                    $("mark").each( function() {
                        var value = $(this).data("value");
                        var color = d3.interpolateRdYlGn((-value + 100) / 200);
                        $(this).css('background-color', color);
                        var tooltip = "Value: " + value;
                        
                        $(this).attr("data-toggle", "tooltip");
                        $(this).attr("title", tooltip);
                        $(this).tooltip();
                        $(this).click(function() {
                            window.location.replace("/search?q=" + $(this).text().toLowerCase());
                        });
                    });
                });
            return false;
            })
        })
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bg-dark">
            <input type="checkbox" id="normal" name="hasNormal" value="normal" checked>
                <label for="normal" class="text-light">Normal</label>
            <input type="checkbox" id="spam" name="hasSpam" value="spam" checked>
                <label for="spam" class="text-light">Spam</label>
            <br>
            <div id="slider-range"></div>
            <br>
            <button type="button" class="btn btn-primary" value="Get Email!" id="get_email">My Button</button>
        </div>
        <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5">
            <div class="container m-3 p-3 bg-light" id="result">
                <span class="font-weight-bold" id="subject"></span>
                <br>
                <span id="body"></span>
                <!-- <div class="fadeout"></div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}