{% extends "base.html" %}
{% block title %}Spam classifier{% endblock %}
{% block head %}
    {{ super() }}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript>
    $(function() {
        $(":button#calculate").bind("click", function() {
            $.getJSON($SCRIPT_ROOT + "/get_spam", {
                spamSliderVal: $("input[name='spamSlider']").val()
            }, function(data) {
                $("#body").html(data.body);
                $("#subject").html(data.subject);
                $("#tokens").html(data.tokens);
            });
            return false;
        });
    });
    </script>
{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="form-control-range" name="spamSlider">
        </div>

        <button type="button" class="btn btn-primary" value="Get Email!" id="calculate">My Button</button>
        <br>
        <div class="container m-3 p-3 bg-light" id="result">
            <span class="font-weight-bold" id="subject"></span>
            <br>
            <span id="body"></span>
            <br>
            <span id="tokens"></span>
        </div>
    <main>
{% endblock %}