{% extends "base.jinja" %}
{% block title %}Spam classifier{% endblock %}
{% block head %}
    {{ super() }}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript>
    $(function() {
        $(":button#get_email").bind("click", function() {
            $.getJSON($SCRIPT_ROOT + "/get_email", {}, 
            function(data) {
                $("#body").html(data.body);
                $("#subject").html(data.subject);
                $("#tokens").html(data.tokens);
            });
            return false;
        });
    });
    </script>
{% endblock %}

<!-- TODO: fix this -->
{% block content %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2">
            <button type="button" class="btn btn-primary" value="Get Email!" id="get_email">My Button</button>
        </div>
        <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5">
            <div class="container m-3 p-3 bg-light" id="result">
                <span class="font-weight-bold" id="subject"></span>
                <br>
                <span id="body"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}