{% extends "base.jinja" %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12">
            <h1> Search results</h1>
            {% for result in results %}
                <div class="container m-3 p-3 bg-light">
                    <b>{{ result[0] }}</b>
                    {{ result[1] }}
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}